importFrom("future", "futureCall", "value", "plan", "multiprocess")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("parallel", "mclapply", "mcmapply")
export(pbmclapply, pbmcmapply)
